<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/instrucciones.css') }}">
</head>
<body>
    <h1>Hola {{ name }}</h1><br>
    <p> Bienvenido a nuestro chat, que agrado tenerte...</p>

    <a href="{{ url_for('boton_panico') }}">
        <img src="/static/images/boton.png" width="200px"; position=fixed>
    </a>

    <div class="megaboton">
        <a href="{{ url_for('boton_panico') }}">
            <img src="/static/images/boton.png" width="10%"; position=fixed>
        </a>
    </div>

</body>
</html>