{% extends 'base.html' %}

{%block body%}

<h1><span style="color: aqua;">Bienvenido</span></h1>
<h2>Inicia sesion</h2>

<input type="text" name="correo_inicio_sesion" placeholder="Ingresa tu correo"><br><br>
<input type="password" name="contraseña_inicio_sesion" placeholder="Ingresa tu contraseña"><br><br>

<a href="{{ url_for('crear_cuenta') }}">si no posees una cuenta clickea aqui</a><br><br>


<a href="{{ url_for('boton_panico') }}">
    <img src="images/boton panico.ico">
</a>

{%endblock%}