<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/lista_psicologos.css') }}">
</head>
<body>

    <div class="atras">
        <a href="{{ url_for('redirigir_menuprincipal') }}">
            <img src="/static/images/boton retroceder.png" width="8%">
        </a>
    </div>
    <section class="form-register">
        <h2>Psicólogos cerca de tu zona</h2>
        <div class="mapa">
            <iframe src="https://www.google.com/maps/d/u/2/embed?mid=1gqcKLRemE7NN9U0j5nw3DjK9u_i2MqCB&ehbc=2E312F" width="640" height="480"></iframe>
        </div>


    <div class="botones1">
        <form action="{{ url_for('ir_arica') }}">
            <input class="botons" button type="submit" value="Arica y Parinacota"</button>
        </form>
        <form action="{{ url_for('ir_tarapaca') }}">
            <input class="botons" button type="submit" value="Tarapacá"</button>
        </form>
        <form action="{{ url_for('ir_antofagasta') }}">
            <input class="botons" button type="submit" value="Antofagasta"</button>
        </form>
        <form action="{{ url_for('ir_atacama') }}">
            <input class="botons" button type="submit" value="Atacama"</button>
        </form>
        <form action="{{ url_for('ir_coquimbo') }}">
            <input class="botons" button type="submit" value="Coquimbo"</button>
        </form>
        <form action="{{ url_for('psicologos') }}">
            <input class="botons" button type="submit" value="Valparaíso"</button>
        </form>
        <form action="{{ url_for('ir_metropolitana') }}">
            <input class="botons" button type="submit" value="Metropolitana"</button>
        </form>
        <form action="{{ url_for('ir_ohiggins') }}">
            <input class="botons" button type="submit" value="O'higgins"</button>
        </form>
    </div>
    <div class="botones2"> 
        <form action="{{ url_for('ir_maule') }}">
            <input class="botons" button type="submit" value="Maule"></button>
        </form>
        <form action="{{ url_for('ir_nuble') }}">
            <input class="botons" button type="submit" value="Nuble"</button>
        </form>
        <form action="{{ url_for('ir_biobio') }}">
            <input class="botons" button type="submit" value="Bío-Bío"</button>
        </form>
        <form action="{{ url_for('ir_araucania') }}">
            <input class="botons" button type="submit" value="Araucanía"</button>
        </form>
        <form action="{{ url_for('ir_losrios') }}">
            <input class="botons" button type="submit" value="Los Ríos"</button>
        </form>
        <form action="{{ url_for('ir_loslagos') }}">
            <input class="botons" button type="submit" value="Los Lagos"</button>
        </form>
        <form action="{{ url_for('ir_aysen') }}">
            <input class="botons" button type="submit" value="Aysén"</button>
        </form>
        <form action="{{ url_for('ir_magallanes') }}">
            <input class="botons" button type="submit" value="Magallanes y Antártica Chilena"</button>
        </form>
    </div>
</section>

    <div class="megaboton">
        <a href="{{ url_for('boton_panico') }}">
            <img src="/static/images/boton.png" width="10%"; position=fixed>
        </a>
    </div>

</body>
</html>