<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/chatbot.css') }}">
</head>
<body>
    <div class="atras">
        <a href="{{ url_for('redirigir_menuprincipal') }}">
            <img src="/static/images/boton retroceder.png" width="8%">
        </a>
    </div>

    <h2>HOLA! SOY MITE</h2>

    <script src="//code.tidio.co/ru19njubnfg4vg3iul60ihfchtyhnnta.js" async></script>
    
    <a href="{{ url_for('boton_panico') }}">
        <img src="/static/images/boton.png" width="200px"; position=fixed>
    </a>

</body>
</html>