<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/lista_tareas.css') }}">
</head>
<body>

    <div class="atras">
        <a href="{{ url_for('redirigir_menuprincipal') }}">
            <img src="/static/images/boton retroceder.png" width="8%">
        </a>
    </div>

    <section class="form-register">
        <h1>Lista de tareas</h1>
    </section>

    <ul>
        {% for tarea in lista_1 %}
        <li>{{ tarea }}</li>
        {% endfor %}
    </ul>
    <br>

    <div class="nueva">
        <a href="{{ url_for('anadir_tarea') }}">Agregar nueva tarea</a>
    </div>

    <div class="megaboton">
        <a href="{{ url_for('boton_panico') }}">
            <img src="/static/images/boton.png" width="10%"; position=fixed>
        </a>
    </div>
    
</body>
</html>