<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/chatbot.css') }}">
</head>
<body>
    <div class="atras">
        <a href="{{ url_for('redirigir_menuprincipal') }}">
            <img src="/static/images/boton retroceder.png" width="8%">
        </a>
    </div>
    <section class="form-register">
        <h2>¡HOLA! 😀  Soy  Mite</h2>
        <div class="parrafo">
            <h1>Sobre Mite:</h1>
            <h3>Mite es un bot diseñado para ayudarte con tu salud mental respecto al estrés, tanto como por el trabajo o los estudios. Este asistente virtual interactuará contigo por medio de un chat, en el cual hablará sobre ciertas cosas y cada vez que le haga una pregunta le otorgará opciones a escoger, de las cuales usted debe seleccionar solo una. En base a tus respuestas Mite dará ciertos consejos para ayudarte de la manera más precisa posible con tus problemas. Este asistente funciona por medio de sesiones cortas diarias que no te tomarán más de 15 minutos. Al principio de cada conversación deberá escoger la sesión que desea iniciar, hasta el momento Mite ofrece un total de 4 sesiones.</h3>
            <h4>Comienza tu sesión con Mite ➜ </h4>
        </div>
    </section>

    
    <div class="megaboton">
        <a href="{{ url_for('boton_panico') }}">
            <img src="/static/images/boton.png" width="10%"; position=fixed>
        </a>
    </div>

    <script src="//code.tidio.co/ru19njubnfg4vg3iul60ihfchtyhnnta.js" async></script>

</body>
</html>