<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/lista_psicologos.css') }}">
</head>
<body>

    <div class="atras">
        <a href="{{ url_for('redirigir_menuprincipal') }}">
            <img src="/static/images/boton retroceder.png" width="8%">
        </a>
    </div>

    <section class="form-register">
        <h2>Psicólogos cerca de tu zona</h2>
    </section>

    <iframe src="https://www.google.com/maps/d/u/2/embed?mid=1kSL8c5bFKMNeAtHNTrv_IkCIf9UZk7eW&ehbc=2E312F" width="640" height="480"></iframe>


    <form action="{{ url_for('ir_arica') }}">
        <button type="submit">Arica y Parinacota</button>
    </form><br>
    <form action="{{ url_for('ir_tarapaca') }}">
        <button type="submit">Tarapacá</button>
    </form><br>
    <form action="{{ url_for('ir_antofagasta') }}">
        <button type="submit">Antofagasta</button>
    </form><br>
    <form action="{{ url_for('ir_atacama') }}">
        <button type="submit">Atacama</button>
    </form><br>
    <form action="{{ url_for('ir_coquimbo') }}">
        <button type="submit">Coquimbo</button>
    </form><br>
    <form action="{{ url_for(psicologos) }}">
        <button type="submit">Valparaiso</button>
    </form><br>
    <form action="{{ url_for('ir_metropolitana') }}">
        <button type="submit">Metropolitana</button>
    </form><br>
    <form action="{{ url_for('ir_ohiggins') }}">
        <button type="submit">O'higgins</button>
    </form><br>
    <form action="{{ url_for('ir_maule') }}">
        <button type="submit">Maule</button>
    </form><br>
    <form action="{{ url_for('ir_nuble') }}">
        <button type="submit">Nuble</button>
    </form><br>
    <form action="{{ url_for('ir_biobio') }}">
        <button type="submit">Bío-Bío</button>
    </form><br>
    <form action="{{ url_for('ir_araucania') }}">
        <button type="submit">Araucanía</button>
    </form><br>
    <form action="{{ url_for('ir_losrios') }}">
        <button type="submit">Los Ríos</button>
    </form><br>
    <form action="{{ url_for('ir_aysen') }}">
        <button type="submit">Aysén</button>
    </form><br>
    <form action="{{ url_for('ir_magallanes') }}">
        <button type="submit">Magallanes y Antártica Chilena</button>
    </form><br>

    <div class="megaboton">
        <a href="{{ url_for('boton_panico') }}">
            <img src="/static/images/boton.png" width="10%"; position=fixed>
        </a>
    </div>

</body>
</html>