<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/reestablecer.css') }}">
</head>
<body>

    <section class="form-register">  
        <form action="{{ url_for('cambiar_pw') }}" method="post">
            <h1>Crea una nueva contrasena</h1>
            <input class="controls" type="password" name="nueva_contrasena" placeholder="Ingrese su nueva contrasena" required>
            <input class="controls" type="password" name="nueva_contrasena_2" placeholder="Vuelva a ingresar la contrasena" required>
            <button class="button" type="submit">Enviar</button>
            <h3>Las contraseñas no coinciden</h3>
        </form>
    </section> 


</body>
</html>