<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/boton_panic_prim.css') }}">
</head>
<body>
    <div class="atras">
        <a href="{{ 'redirigir_menuprincipal' }}">
            <img src="/static/images/boton retroceder.png" width="8%">
        </a>
    </div>

    <section class="form-register">
        <h1>Ingresa una imagen y un link de youtube para configurar tu botón de pánico</h1>

        <div class="guardados">
            
            <form action="{{ url_for('guardar_datos_boton') }}" method="post" enctype="multipart/form-data">
                <label id="texto1">Adjunta tu imagen</label>
                <input class="control1" type="file" name= "foto" placeholder="Ingresa aqui tus imagenes" required><br>
                <label id="texto2">Ingresa tu canción</label>
                <input class="control2" type="url" name= "cancion" placeholder="Ingresa la URL" required><br><br>
                <input class="botons" button type="submit"></button>
        </div>
        </form>
    </section>

</body>
</html>