<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/verificar_codigo.css') }}">
</head>
<body>

    <section class="form-register">
        <form action="{{ url_for('verificar_codigo') }}">
            <h1>Ingrese el código que ha llegado a su correo (si no lo encuentra en el buzón principal, puede que esté en la carpeta de spam)</h1>
            <input class="controls" type="text" name="codigo_ingresado" placeholder="Ingrese su código verificador" required>
            <button class="button" type="submit" class="button">Enviar</button>
            <h3>El codigo ingresado es incorrecto</h3>
        </form>
    </section>


</body>
</html>