<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/estilo.css') }}">
</head>
<body>
  <section class="form-register">
    <form action="verificar_usuario", method="post">
        <h2>Inicia sesión</h2>
        <input class="controls" type="text" name="correo_inicio_sesion" placeholder="Ingresa tu correo"><br><br>
        <input class="controls" type="password" name="contraseña_inicio_sesion" placeholder="Ingresa tu contraseña"><br><br>
        <button class="button" type="submit">Login</button>
    </form>
    
    <a href="{{ url_for('crear_cuenta') }}">¿Nuevo/a en Mite? Crea una cuenta.</a><br><br>
  </section>
</body>
</html>