<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/anadir_tarea.css') }}">
</head>
<body>
    <div class="atras">
        <a href="{{ url_for('redirigir_menuprincipal') }}">
            <img src="/static/images/boton retroceder.png" width="8%">
        </a>
    </div>

    <section class="form-register">
        <h1>Agregar tarea</h1><br>
        <div class="espacio">
            <form action="{{ url_for('anadir_tarea') }}" method="post">
                <input class="controls" type="text" name='nueva_tarea' placeholder="Agrega tu tarea" required>
                <button class="botons" type="submit">Enviar</button>
            </form>
        </div>
    </section>

    <div class="megaboton">
        <a href="{{ url_for('boton_panico') }}">
            <img src="/static/images/boton.png" width="10%"; position=fixed>
        </a>
    </div>


</body>
</html>