<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/pw_no_coinciden.css') }}">
</head>
<body>
    <section class="form-register">  
        <form action="{{ url_for('cambiar_pw_dentrosistema') }}" method="post">
            <input class="controls" type="password" name="nueva_contrasena" placeholder="Ingrese su nueva contraseña" required>
            <input class="controls" type="password" name="nueva_contrasena_2" placeholder="Vuelva a ingresar su nueva contraseña" required>
            <button class="button" type="submit">Enviar</button><br>
            <h3>Las contrasenas no coinciden</h3>
        </form>
    </section>
    
</body>
</html>

