<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/estilo.css') }}">
</head>
<body>
  <section class="form-register">
    <form action="{{ url_for('contacto') }}" method="post">
        <h2>Ingresa tus datos</h2>
        <input class="controls" id= "nombre" type="text" name="nombre" placeholder="Ingresa tu nombre" required>
        <input class="controls" id="correo" type="text" name="correo" placeholder="Ingresa tu correo" required>
        <input class="controls" type="password" name="contrasena" placeholder="Ingresa tu contraseña" required>
        <button class="button" type="submit">Enviar</button>
    </form>
  </section>
</body>
</html>
