<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/lista_psicologos.css') }}">
</head>
<body>

    <div class="atras">
        <a href="{{ url_for('redirigir_menuprincipal') }}">
            <img src="/static/images/boton retroceder.png" width="8%">
        </a>
    </div>

    <section class="form-register">
        <h2>Psicólogos cerca de tu zona</h2>
    </section>

    <div class="megaboton">
        <a href="{{ url_for('boton_panico') }}">
            <img src="/static/images/boton.png" width="10%"; position=fixed>
        </a>
    </div>

</body>
</html>