<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/lista_tareas.css') }}">
</head>
<body>

    <a href="{{ url_for('redirigir_menuprincipal') }}">
        <img src="/static/images/boton retroceder.png">
    </a><br>
    <h1>Lista de tareas</h1>

    <ul>
        <li></li>
    </ul><br><br>

    <a href="{{ url_for('anadir_tarea') }}">Agregar nueva tarea</a>





    <a href="{{ url_for('boton_panico') }}">
        <img src="/static/images/boton.png" width="200px"; position=fixed>
    </a>
    
</body>
</html>