<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAT BOT</title>
    <meta charset="utf-8"> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/chatbot.css') }}">
</head>
<body>
    <div class="atras">
        <a href="{{ url_for('redirigir_menuprincipal') }}">
            <img src="/static/images/boton retroceder.png" width="8%">
        </a>
    </div>
    <section class="form-register">
        <h2>¡HOLA! 😀  Soy  Mite</h2>
    </section>

    <script src="//code.tidio.co/ru19njubnfg4vg3iul60ihfchtyhnnta.js" async></script>
    
    <div class="megaboton">
        <a href="{{ url_for('boton_panico') }}">
            <img src="/static/images/boton.png" width="10%"; position=fixed>
        </a>
    </div>

</body>
</html>