* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    background-image: url(../images/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .atras {
    margin-left: 0%;
    margin-top: 0%; 
  }

  .form-register {
    font-family: Gabriola;
    color: #ffffff;
    font-size: 50px;
    margin-left: 38%;
    margin-top: -5%;
    text-shadow: 1px 2px 2px #000;
  }

  .form-register .espacio{
    margin-top: -13%;
    margin-left: 0%;
  }

  .controls {
    width: 40%;
    background: #ffffff;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    margin-left: -10%;
    color: white;
  }

  .form-register .botons {
    width: 20%;
    background: #ffffff ;
    border: 1px solid #1f53c5;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;

  }

  .megaboton {
    margin-left: 0.5%;
    margin-top: 20%; 
  }