* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    background-image: url(../images/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .atras {
    margin-left: 0%;
    margin-top: 0%; 
  }

  .megaboton {
    margin-left: 0.5%;
    margin-top: 23%; 
  }