* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    background-image: url(../images/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #confi {
    width: 100%;
    max-width: 1920px;
    min-width: 750px;
    margin: 0 auto;
  }
  
  .atras {
    margin-left: 0%;
    margin-top: 0%; 
  }

  .videazo {
    margin-top: 3%; 
    margin-left: 3%;
  }



  
  .imagenprincipal {
    margin-left: 57%;
    margin-top: -25.6%;
  }