* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    background-image: url(../images/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .form-register h1 {
    font-family: Gabriola;
    color: #ffffff;
    font-size: 54px;
    margin-left: 40%;
    margin-top: -5%;
    text-shadow: 1px 2px 2px #000;
  }


  .nueva {
    margin-left: 42.5%;
    font-size: 18px;
    color: #ffffff;
    
  }

  .tareukas {
    margin-left: 42%;
    font-size: 22px;
    color: #ffffff;
  }


  .atras {
    margin-left: 0%;
    margin-top: 0%; 
  }

  .megaboton {
    margin-left: 0.5%;
    margin-top: 16%; 
  }