* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: url(../images/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#contenedor {
  width: 100%;
  max-width: 1920px;
  min-width: 750px;
  margin: 0 auto;
}

.foto1 {
  margin-left: 28%;
  margin-top: -17.5%; 
}

.foto2 {
  margin-top: 3.68%;
  margin-left: -0.736%;
}

.foto3 {
  margin-left: 38.5%;
  margin-top: -10.315%;
}

.foto4 {
  margin-top: -8.842%;
  margin-left: -0.736%;
}

.foto5 {
  margin-left: 88%;
  margin-top: -8.8%;
}

